.env/
node_modules
**/node_modules/
.claude/
dist/
.env
**/task3/doc/
cdk.out/

# *.js
!jest.config.js
!*.config.js
*.d.ts

!task4nosql.md
!task4nosql.txt
product_service/scripts/setup-db-manual-fake.ts
!product_service/scripts/seed-dynamodb.ts
doc/
